extends layout

block content
  h1 Profiles
  p Welcome to #{title}
  h2 -
  a(href='/profiles/add')  add a profile....
  br
  a(href='/profiles/list') see all profiles....
  br
  a(href='/queries') queries....
  br
  a(href='/profiles/delete')  delete profiles....







